@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import "./progressbar.css";

$purple: rgb(158, 133, 246);
$gray: #B3B3B3;
$header-font: "Josefin Slab", serif;
$alternate-font: "Helvetica Neue", serif;
$copy-font: "PT Serif", sans-serif;

body {
  font-family: $copy-font;
  font-size: 12pt;
  line-height: 30px;
}

ul {
  list-style-type: none;
}

@mixin link {
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  color: $purple;
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: black;
}

a {
  @include link;
}
a:hover {
  color: darken($purple, 10%);
  text-decoration: none;
}

@mixin title-defaults {
  font-family: $header-font;
  color: black;
  font-size: 13pt;
  line-height: 15pt
}

@mixin author-defaults {
  font-size: 10pt;
  line-height: 11pt;
}

// SPINNER
.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  @include center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $purple; /* Blue */
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// OUTER

.container {
  max-width: 85vw;
  margin: auto;
}

.app-case {}

.app-title {
  @include center;
}

// SHELF
.shelf-case {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shelf-book {
  position: relative;
  &:hover {
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: lighten($purple, 24%);
  }
  color: black;
  border: 1px solid $purple;
  margin: 10px;
  min-width: 300px;
  width: 18vw;
  height: 100px;
  border-radius: 4px;
  .title {
    @include title-defaults;
    padding: 10px;
  }
  .author {
    @include author-defaults;
    color: $purple;
    position: absolute;
    text-align: right;
    bottom: 8px;
    left: -8px; // serves as right padding
    width: 100%;
  }
}

// DESK
.desk-case {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50em;
  margin: auto;
}

.desk-book {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: 10px;
  border-bottom: 1px solid $gray;
  padding-bottom: 2px;
  .details {
    width: 100%;
  }
  .title {
    @include title-defaults;
    font-size: 18pt;
    line-height: 20pt;
  }
  .author {
    @include author-defaults;
  }

  .progress-bar {
    margin: 15px 2px;
    display: flex;
    flex: 1;
    // max-width: 200px;
    flex-direction: row;
    justify-content: flex-start;
  }
}
